@charset "utf-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
html {
	font: 500 14px 'roboto';
	color: #333;
	background-color: #fafafa;
  	overflow:hidden;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: hidden;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
#login{
  width: 294px;
  padding:30px 40px;
  height: 280px;
  position: absolute;
  left:70%;
  top: 50%;
  z-index: 3;
  margin-left: -187px;
  margin-top: -210px;
  /*background-image: url('../Images/login/login.png');
  background-repeat: no-repeat;*/
}
#login form{ position: relative;z-index: 6; }
#login:after{content: "";border-radius: 5px;box-shadow: 0 0 6px #235481; z-index: 2; display: block;width: 374px;height: 310px; background: #fff;opacity: 0.6; position: absolute;top: 0; left: 0;}
#login h1{
  margin: 10px 0 30px;
  font-family: "微软雅黑", "Microsoft YaHei";
  color: #333;
  font-weight:bold;
  text-align: center;
  font-size: 24px;
  background-color: transparent;
}
.use_pas{
  height: 40px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 15px;
  position: relative;
  /*background-repeat: no-repeat;
  background-image: url('../Images/login/input.png');*/
}
.use_pas input{
  width: 200px;
  height: 40px;
  left: 54px;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  opacity: 0.7;
  top: 0px;
  font-family: "微软雅黑", "Microsoft YaHei";
}
.submit{
  text-align: center;
  position: relative; 
  height: 36px;
  margin-top: 30px;
  /*background-repeat: no-repeat;
  background-image: url('../Images/login/input.png');*/
}
.submit input{
  width: 294px;
  height: 50px; line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  font-family: "微软雅黑", "Microsoft YaHei";
  border: none;
  background: none;
  color: #fff;
  background-color: #2483ee;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s;
}
.submit :hover{
  background-color: #fff;
  transition: all 1s;
  color: #333;
}
.u_log,.p_log{
  position: absolute;
  height: 40px;
  width: 55px;
  background-image: url('../Images/login/u_log.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.p_log{
  background-image: url('../Images/login/p_log.png');
}